In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [146]:
# train data
df=pd.read_csv(r"D:\Gowsik\Artificial Intelligence Engineering\Machine Learning\Project\Machine-Learning--Projects-master\Machine-Learning--Projects-master\Projects\Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing\Dataset for the project\train\train.csv")
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [147]:
# dropping ID column
df1=df.drop(['ID'],axis=1)
print(df1.shape)
print(df1)

(4209, 377)
           y  X0 X1  X2 X3 X4  X5 X6 X8  X10  ...  X375  X376  X377  X378  \
0     130.81   k  v  at  a  d   u  j  o    0  ...     0     0     1     0
1      88.53   k  t  av  e  d   y  l  o    0  ...     1     0     0     0
2      76.26  az  w   n  c  d   x  j  x    0  ...     0     0     0     0
3      80.62  az  t   n  f  d   x  l  e    0  ...     0     0     0     0
4      78.02  az  v   n  f  d   h  d  n    0  ...     0     0     0     0
...      ...  .. ..  .. .. ..  .. .. ..  ...  ...   ...   ...   ...   ...
4204  107.39  ak  s  as  c  d  aa  d  q    0  ...     1     0     0     0
4205  108.77   j  o   t  d  d  aa  h  h    0  ...     0     1     0     0
4206  109.22  ak  v   r  a  d  aa  g  e    0  ...     0     0     1     0
4207   87.48  al  r   e  f  d  aa  l  u    0  ...     0     0     0     0
4208  110.85   z  r  ae  c  d  aa  g  w    0  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 377 columns]

In [148]:
# test data
df50=pd.read_csv(r"D:\Gowsik\Artificial Intelligence Engineering\Machine Learning\Project\Machine-Learning--Projects-master\Machine-Learning--Projects-master\Projects\Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing\Dataset for the project\test\test.csv")
df50

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [149]:
# dropping ID column in given test column
df51=df50.drop(['ID'],axis=1)
print(df51.shape)
print(df51)

(4209, 376)
      X0  X1  X2 X3 X4  X5 X6 X8  X10  X11  ...  X375  X376  X377  X378  X379  \
0     az   v   n  f  d   t  a  w    0    0  ...     0     0     0     1     0
1      t   b  ai  a  d   b  g  y    0    0  ...     0     0     1     0     0
2     az   v  as  f  d   a  j  j    0    0  ...     0     0     0     1     0
3     az   l   n  f  d   z  l  n    0    0  ...     0     0     0     1     0
4      w   s  as  c  d   y  i  m    0    0  ...     1     0     0     0     0
...   ..  ..  .. .. ..  .. .. ..  ...  ...  ...   ...   ...   ...   ...   ...
4204  aj   h  as  f  d  aa  j  e    0    0  ...     0     0     0     0     0
4205   t  aa  ai  d  d  aa  j  y    0    0  ...     0     1     0     0     0
4206   y   v  as  f  d  aa  d  w    0    0  ...     0     0     0     0     0
4207  ak   v  as  a  d  aa  c  q    0    0  ...     0     0     1     0     0
4208   t  aa  ai  c  d  aa  g  r    0    0  ...     1     0     0     0     0

      X380  X382  X383  X384  X385
0        0     0     0     0     0
1        0     0     0     0     0
2        0     0     0     0     0
3        0     0     0     0     0
4        0     0     0     0     0
...    ...   ...   ...   ...   ...
4204     0     0     0     0     0
4205     0     0     0     0     0
4206     0     0     0     0     0
4207     0     0     0     0     0
4208     0     0     0     0     0

[4209 rows x 376 columns]

In [150]:
# performing EDA on train Data
df1.shape

(4209, 377)

In [151]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, y to X385
dtypes: float64(1), int64(368), object(8)
memory usage: 12.1+ MB

In [152]:
df1.describe

<bound method NDFrame.describe of            y  X0 X1  X2 X3 X4  X5 X6 X8  X10  ...  X375  X376  X377  X378  \
0     130.81   k  v  at  a  d   u  j  o    0  ...     0     0     1     0
1      88.53   k  t  av  e  d   y  l  o    0  ...     1     0     0     0
2      76.26  az  w   n  c  d   x  j  x    0  ...     0     0     0     0
3      80.62  az  t   n  f  d   x  l  e    0  ...     0     0     0     0
4      78.02  az  v   n  f  d   h  d  n    0  ...     0     0     0     0
...      ...  .. ..  .. .. ..  .. .. ..  ...  ...   ...   ...   ...   ...
4204  107.39  ak  s  as  c  d  aa  d  q    0  ...     1     0     0     0
4205  108.77   j  o   t  d  d  aa  h  h    0  ...     0     1     0     0
4206  109.22  ak  v   r  a  d  aa  g  e    0  ...     0     0     1     0
4207   87.48  al  r   e  f  d  aa  l  u    0  ...     0     0     0     0
4208  110.85   z  r  ae  c  d  aa  g  w    0  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 377 columns]>

In [153]:
df1.describe().T

       count        mean        std    min    25%    50%     75%     max
y     4209.0  100.669318  12.679381  72.11  90.82  99.15  109.01  265.32
X10   4209.0    0.013305   0.114590   0.00   0.00   0.00    0.00    1.00
X11   4209.0    0.000000   0.000000   0.00   0.00   0.00    0.00    0.00
X12   4209.0    0.075077   0.263547   0.00   0.00   0.00    0.00    1.00
X13   4209.0    0.057971   0.233716   0.00   0.00   0.00    0.00    1.00
...      ...         ...        ...    ...    ...    ...     ...     ...
X380  4209.0    0.008078   0.089524   0.00   0.00   0.00    0.00    1.00
X382  4209.0    0.007603   0.086872   0.00   0.00   0.00    0.00    1.00
X383  4209.0    0.001663   0.040752   0.00   0.00   0.00    0.00    1.00
X384  4209.0    0.000475   0.021796   0.00   0.00   0.00    0.00    1.00
X385  4209.0    0.001426   0.037734   0.00   0.00   0.00    0.00    1.00

[369 rows x 8 columns]

In [154]:
df1.columns

Index(['y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

In [155]:
df1.size

1586793

In [156]:
df1.corr()

,y,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
y,1.000000,-0.026985,NaN,0.089792,0.048276,0.193643,0.023116,0.048946,-0.159815,-0.001789,...,0.029100,0.114005,0.061403,-0.258679,0.067919,0.040932,-0.159815,0.040291,-0.004591,-0.022280
X10,-0.026985,1.000000,NaN,-0.033084,-0.028806,-0.100474,-0.002532,-0.005944,-0.010164,-0.010323,...,0.165277,-0.028618,-0.074244,-0.016870,-0.011374,-0.010479,-0.010164,-0.004740,-0.002532,-0.004387
X11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X12,0.089792,-0.033084,NaN,1.000000,0.214825,-0.246513,-0.006212,-0.014584,-0.024937,-0.025327,...,-0.107864,-0.070214,0.030134,-0.016043,-0.027907,-0.005566,-0.024937,-0.011628,-0.006212,-0.010765
X13,0.048276,-0.028806,NaN,0.214825,1.000000,-0.083141,-0.005409,-0.012698,-0.021713,-0.010525,...,-0.169721,-0.061136,0.357229,-0.036040,-0.024299,0.023045,-0.021713,-0.010125,0.041242,-0.009373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X380,0.040932,-0.010479,NaN,-0.005566,0.023045,0.007743,-0.001968,-0.004619,-0.007899,-0.008022,...,-0.061741,-0.022240,-0.061168,-0.013110,-0.008839,1.000000,-0.007899,-0.003683,-0.001968,-0.003410
X382,-0.159815,-0.010164,NaN,-0.024937,-0.021713,0.012713,-0.001908,-0.004480,1.000000,0.085256,...,-0.059883,-0.021571,-0.059327,-0.012716,-0.008573,-0.007899,1.000000,-0.003572,-0.001908,-0.003307
X383,0.040291,-0.004740,NaN,-0.011628,-0.010125,0.023604,-0.000890,-0.002089,-0.003572,0.062481,...,-0.015413,-0.010059,0.035107,-0.005930,-0.003998,-0.003683,-0.003572,1.000000,-0.000890,-0.001542
X384,-0.004591,-0.002532,NaN,-0.006212,0.041242,0.025199,-0.000475,-0.001116,-0.001908,-0.001938,...,-0.014917,-0.005373,0.008694,-0.003168,-0.002136,-0.001968,-0.001908,-0.000890,1.000000,-0.000824
X385,-0.022280,-0.004387,NaN,-0.010765,-0.009373,0.043667,-0.000824,-0.001934,-0.003307,-0.003359,...,0.055225,-0.009311,-0.025610,-0.005489,-0.003701,-0.003410,-0.003307,-0.001542,-0.000824,1.000000

In [157]:
# removing zero variance columns of training data
df2=df1.var()[df1.var()[0:377]==0]
print(df2.shape)
df2

(12,)

X11     0.0
X93     0.0
X107    0.0
X233    0.0
X235    0.0
X268    0.0
X289    0.0
X290    0.0
X293    0.0
X297    0.0
X330    0.0
X347    0.0
dtype: float64

In [158]:
df3=df1.drop(['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'],axis='columns')
print(df3.shape)
df3

(4209, 365)

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,107.39,ak,s,as,c,d,aa,d,q,0,...,1,0,0,0,0,0,0,0,0,0
4205,108.77,j,o,t,d,d,aa,h,h,0,...,0,1,0,0,0,0,0,0,0,0
4206,109.22,ak,v,r,a,d,aa,g,e,0,...,0,0,1,0,0,0,0,0,0,0
4207,87.48,al,r,e,f,d,aa,l,u,0,...,0,0,0,0,0,0,0,0,0,0
4208,110.85,z,r,ae,c,d,aa,g,w,0,...,1,0,0,0,0,0,0,0,0,0

In [159]:
# check for null values(training data)
print(df3.shape)
print(np.sum(df3.isna().sum()))

(4209, 365)
0

In [160]:
# unique values for training data
df3.nunique()

y       2545
X0        47
X1        27
X2        44
X3         7
        ...
X380       2
X382       2
X383       2
X384       2
X385       2
Length: 365, dtype: int64

In [161]:
for i in df3:
    print(df3[i].unique())

[130.81  88.53  76.26 ...  85.71 108.77  87.48]
['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
['a' 'e' 'c' 'f' 'd' 'b' 'g']
['d' 'b' 'c' 'a']
['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[1 0]
[1 0]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]

In [162]:
#label encoding (training data)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 365 entries, y to X385
dtypes: float64(1), int64(356), object(8)
memory usage: 11.7+ MB

In [163]:
df4=df3.select_dtypes(include=['object'])
df4.isna().sum()

X0    0
X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X8    0
dtype: int64

In [164]:
# removing the categorical variables based on above code
df5=df3.drop(['X0','X1','X2','X3','X4','X5','X6','X8'],axis='columns')
df5.shape

(4209, 357)

In [165]:
# label encoder for train data
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df6 = df4.apply(lb.fit_transform)
df6

      X0  X1  X2  X3  X4  X5  X6  X8
0     32  23  17   0   3  24   9  14
1     32  21  19   4   3  28  11  14
2     20  24  34   2   3  27   9  23
3     20  21  34   5   3  27  11   4
4     20  23  34   5   3  12   3  13
...   ..  ..  ..  ..  ..  ..  ..  ..
4204   8  20  16   2   3   0   3  16
4205  31  16  40   3   3   0   7   7
4206   8  23  38   0   3   0   6   4
4207   9  19  25   5   3   0  11  20
4208  46  19   3   2   3   0   6  22

[4209 rows x 8 columns]

In [166]:
# concatenation(train data)
df7=pd.concat([df5,df6],axis=1)
print(df7.info())
print(df7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 365 entries, y to X8
dtypes: float64(1), int32(8), int64(356)
memory usage: 11.6 MB
None
           y  X10  X12  X13  X14  X15  X16  X17  X18  X19  ...  X384  X385  \
0     130.81    0    0    1    0    0    0    0    1    0  ...     0     0
1      88.53    0    0    0    0    0    0    0    1    0  ...     0     0
2      76.26    0    0    0    0    0    0    1    0    0  ...     0     0
3      80.62    0    0    0    0    0    0    0    0    0  ...     0     0
4      78.02    0    0    0    0    0    0    0    0    0  ...     0     0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...
4204  107.39    0    0    0    1    0    0    0    0    0  ...     0     0
4205  108.77    0    0    0    0    0    0    0    0    0  ...     0     0
4206  109.22    0    1    1    0    0    0    0    0    0  ...     0     0
4207   87.48    0    0    0    1    0    0    0    0    0  ...     0     0
4208  110.85    0    0    0    0    0    0    0    0    0  ...     0     0

      X0  X1  X2  X3  X4  X5  X6  X8
0     32  23  17   0   3  24   9  14
1     32  21  19   4   3  28  11  14
2     20  24  34   2   3  27   9  23
3     20  21  34   5   3  27  11   4
4     20  23  34   5   3  12   3  13
...   ..  ..  ..  ..  ..  ..  ..  ..
4204   8  20  16   2   3   0   3  16
4205  31  16  40   3   3   0   7   7
4206   8  23  38   0   3   0   6   4
4207   9  19  25   5   3   0  11  20
4208  46  19   3   2   3   0   6  22

[4209 rows x 365 columns]

In [167]:
# taking y separately to df11 (train data)
df10=df7.drop(['y'],axis=1)
df11=df7['y']
print(df10)
print(df11)

      X10  X12  X13  X14  X15  X16  X17  X18  X19  X20  ...  X384  X385  X0  \
0       0    0    1    0    0    0    0    1    0    0  ...     0     0  32
1       0    0    0    0    0    0    0    1    0    0  ...     0     0  32
2       0    0    0    0    0    0    1    0    0    0  ...     0     0  20
3       0    0    0    0    0    0    0    0    0    0  ...     0     0  20
4       0    0    0    0    0    0    0    0    0    0  ...     0     0  20
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...  ..
4204    0    0    0    1    0    0    0    0    0    0  ...     0     0   8
4205    0    0    0    0    0    0    0    0    0    0  ...     0     0  31
4206    0    1    1    0    0    0    0    0    0    0  ...     0     0   8
4207    0    0    0    1    0    0    0    0    0    0  ...     0     0   9
4208    0    0    0    0    0    0    0    0    0    1  ...     0     0  46

      X1  X2  X3  X4  X5  X6  X8
0     23  17   0   3  24   9  14
1     21  19   4   3  28  11  14
2     24  34   2   3  27   9  23
3     21  34   5   3  27  11   4
4     23  34   5   3  12   3  13
...   ..  ..  ..  ..  ..  ..  ..
4204  20  16   2   3   0   3  16
4205  16  40   3   3   0   7   7
4206  23  38   0   3   0   6   4
4207  19  25   5   3   0  11  20
4208  19   3   2   3   0   6  22

[4209 rows x 364 columns]
0       130.81
1        88.53
2        76.26
3        80.62
4        78.02
         ...
4204    107.39
4205    108.77
4206    109.22
4207     87.48
4208    110.85
Name: y, Length: 4209, dtype: float64

In [168]:
# pca for train data
from sklearn.decomposition import PCA
pca=PCA(n_components=14)
df12=pca.fit_transform(df10)
df13=pd.DataFrame(df12)
print(df13)
print(df13.shape)

             0          1          2          3          4         5   \
0      0.614765  -0.133009  15.624460   3.687564   1.359574 -2.691417
1      0.565407   1.560333  17.909581  -0.092902   1.536648 -4.442877
2     16.201713  12.292846  17.633540   0.186308  11.850820 -2.155389
3     16.149998  13.535419  14.898695  -3.140917  -6.832193 -4.290014
4     16.459103  13.175004   4.403096   7.671151   2.139916  3.763860
...         ...        ...        ...        ...        ...       ...
4204  22.161403  -7.184320  -8.659404  10.774860   4.669902  3.527910
4205   6.153949  22.828146  -8.314658  10.303221  -3.089276  0.073621
4206  29.004660  14.860905  -7.753332  11.224415  -5.846985  0.789306
4207  22.972422   1.684824  -9.031248   9.749805   9.449557 -4.355228
4208 -17.283048  -9.951982  -3.719360  18.343096   8.401706  0.509480

            6         7         8         9         10        11        12  \
0     3.816741  1.537687 -0.647686  1.737517  0.289547  0.357903  0.854308
1    -0.796540  0.812571 -0.789269 -0.136585  0.762634 -0.365259  0.516369
2     0.828190  1.580676 -0.608201 -0.485268 -1.037316  3.908220 -0.532205
3    -2.225924  2.099091  0.040954 -0.979231 -1.367826  3.720557 -0.484495
4    -1.954082  2.103654  1.178385 -1.021913 -1.558919  3.712128 -0.736033
...        ...       ...       ...       ...       ...       ...       ...
4204  1.838673 -1.368406 -0.994468  0.361756  0.972912  0.216758 -0.366677
4205 -0.103283  0.723103  0.883470  1.977833  0.052216 -0.627577  1.433242
4206  3.399909 -0.252971  0.264559 -1.095628  1.401926 -0.358607  1.707246
4207 -2.699530  1.718861  2.240852  0.255016  1.274314 -1.105333 -0.124794
4208  1.253388  0.798768  0.805105  0.286892  0.432107 -0.715835  1.079793

            13
0     0.731102
1    -0.748062
2     0.342331
3    -0.604894
4    -0.568955
...        ...
4204 -0.720309
4205 -1.421692
4206 -0.003636
4207  0.409110
4208 -0.634304

[4209 rows x 14 columns]
(4209, 14)

In [169]:
np.sum(pca.explained_variance_ratio_)

0.9807702522878725

In [170]:
pca.explained_variance_ratio_

array([0.38334782, 0.21388033, 0.13261866, 0.11826642, 0.09206008,
       0.01590604, 0.0074454 , 0.00433701, 0.00294021, 0.00241796,
       0.00236488, 0.00203229, 0.00167204, 0.00148111])

In [171]:
pca.n_components

14

In [173]:
#x,y variable for train_test_split
x=df13
y=df11
print(x)
print(y)

             0          1          2          3          4         5   \
0      0.614765  -0.133009  15.624460   3.687564   1.359574 -2.691417
1      0.565407   1.560333  17.909581  -0.092902   1.536648 -4.442877
2     16.201713  12.292846  17.633540   0.186308  11.850820 -2.155389
3     16.149998  13.535419  14.898695  -3.140917  -6.832193 -4.290014
4     16.459103  13.175004   4.403096   7.671151   2.139916  3.763860
...         ...        ...        ...        ...        ...       ...
4204  22.161403  -7.184320  -8.659404  10.774860   4.669902  3.527910
4205   6.153949  22.828146  -8.314658  10.303221  -3.089276  0.073621
4206  29.004660  14.860905  -7.753332  11.224415  -5.846985  0.789306
4207  22.972422   1.684824  -9.031248   9.749805   9.449557 -4.355228
4208 -17.283048  -9.951982  -3.719360  18.343096   8.401706  0.509480

            6         7         8         9         10        11        12  \
0     3.816741  1.537687 -0.647686  1.737517  0.289547  0.357903  0.854308
1    -0.796540  0.812571 -0.789269 -0.136585  0.762634 -0.365259  0.516369
2     0.828190  1.580676 -0.608201 -0.485268 -1.037316  3.908220 -0.532205
3    -2.225924  2.099091  0.040954 -0.979231 -1.367826  3.720557 -0.484495
4    -1.954082  2.103654  1.178385 -1.021913 -1.558919  3.712128 -0.736033
...        ...       ...       ...       ...       ...       ...       ...
4204  1.838673 -1.368406 -0.994468  0.361756  0.972912  0.216758 -0.366677
4205 -0.103283  0.723103  0.883470  1.977833  0.052216 -0.627577  1.433242
4206  3.399909 -0.252971  0.264559 -1.095628  1.401926 -0.358607  1.707246
4207 -2.699530  1.718861  2.240852  0.255016  1.274314 -1.105333 -0.124794
4208  1.253388  0.798768  0.805105  0.286892  0.432107 -0.715835  1.079793

            13
0     0.731102
1    -0.748062
2     0.342331
3    -0.604894
4    -0.568955
...        ...
4204 -0.720309
4205 -1.421692
4206 -0.003636
4207  0.409110
4208 -0.634304

[4209 rows x 14 columns]
0       130.81
1        88.53
2        76.26
3        80.62
4        78.02
         ...
4204    107.39
4205    108.77
4206    109.22
4207     87.48
4208    110.85
Name: y, Length: 4209, dtype: float64

In [174]:
# model selection for train data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=123)

In [175]:
# xgboost regressor for given train data 
from xgboost import XGBRegressor
xg=XGBRegressor(objective='reg:linear',learning_rate=0.1,n_jobs=-1)
xg.fit(x_train,y_train)
predicted1=xg.predict(x_train)
print(predicted1)

[19:22:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[ 92.480255 107.95503  100.952644 ... 102.119835  93.80699   97.630875]

In [177]:
predicted2=xg.predict(x_test)
predicted2

array([109.74134 ,  98.29171 ,  99.60449 , ...,  99.954056, 102.99117 ,
       103.07856 ], dtype=float32)

In [178]:
# performance metrics
from sklearn.metrics import mean_squared_error,r2_score
mse1=mean_squared_error(y_train,predicted1)
rmse1=np.sqrt(mse1)
r1=r2_score(y_train,predicted1)
print(mse1,rmse1,r1)

34.44850823412579 5.869285155291553 0.7875070306532526

In [180]:
from sklearn.metrics import mean_squared_error,r2_score
mse2=mean_squared_error(y_test,predicted2)
rmse2=np.sqrt(mse2)
r2=r2_score(y_test,predicted2)
print(mse2,rmse2,r2)

83.51350353947618 9.138572292184167 0.46972585237439146

In [181]:
# RandomForest regressor
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_jobs=-1)
rf.fit(x_train,y_train)
RF_predict1=rf.predict(x_train)
RF_predict2=rf.predict(x_test)
print(RF_predict1)
print(RF_predict2)

[ 89.3391     112.72079905 101.0402     ... 104.093125    92.1783
  96.2768    ]
[108.51945     98.29189167  99.5558     ... 100.19029    100.5274
 100.93213333]

In [182]:
#performance metrics for y_test
from sklearn.metrics import mean_squared_error,r2_score
RF_mse=mean_squared_error(y_test,RF_predict2)
RF_r2=r2_score(y_test,RF_predict2)
print(RF_mse)
print(RF_r2)

89.93284159188732
0.4289658690208742

XGBoost has less mse value than RandomForest for test data so continuing with XGboostRegressor

In [183]:
# EDA on given test data
df51

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
1,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
2,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0
3,az,l,n,f,d,z,l,n,0,0,...,0,0,0,1,0,0,0,0,0,0
4,w,s,as,c,d,y,i,m,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,aj,h,as,f,d,aa,j,e,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,t,aa,ai,d,d,aa,j,y,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,y,v,as,f,d,aa,d,w,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,ak,v,as,a,d,aa,c,q,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,t,aa,ai,c,d,aa,g,r,0,0,...,1,0,0,0,0,0,0,0,0,0

In [184]:
df51.shape

(4209, 376)

In [185]:
df51.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 376 entries, X0 to X385
dtypes: int64(368), object(8)
memory usage: 12.1+ MB

In [186]:
df51.describe

<bound method NDFrame.describe of       X0  X1  X2 X3 X4  X5 X6 X8  X10  X11  ...  X375  X376  X377  X378  X379  \
0     az   v   n  f  d   t  a  w    0    0  ...     0     0     0     1     0
1      t   b  ai  a  d   b  g  y    0    0  ...     0     0     1     0     0
2     az   v  as  f  d   a  j  j    0    0  ...     0     0     0     1     0
3     az   l   n  f  d   z  l  n    0    0  ...     0     0     0     1     0
4      w   s  as  c  d   y  i  m    0    0  ...     1     0     0     0     0
...   ..  ..  .. .. ..  .. .. ..  ...  ...  ...   ...   ...   ...   ...   ...
4204  aj   h  as  f  d  aa  j  e    0    0  ...     0     0     0     0     0
4205   t  aa  ai  d  d  aa  j  y    0    0  ...     0     1     0     0     0
4206   y   v  as  f  d  aa  d  w    0    0  ...     0     0     0     0     0
4207  ak   v  as  a  d  aa  c  q    0    0  ...     0     0     1     0     0
4208   t  aa  ai  c  d  aa  g  r    0    0  ...     1     0     0     0     0

      X380  X382  X383  X384  X385
0        0     0     0     0     0
1        0     0     0     0     0
2        0     0     0     0     0
3        0     0     0     0     0
4        0     0     0     0     0
...    ...   ...   ...   ...   ...
4204     0     0     0     0     0
4205     0     0     0     0     0
4206     0     0     0     0     0
4207     0     0     0     0     0
4208     0     0     0     0     0

[4209 rows x 376 columns]>

In [209]:
df51.describe().T

       count      mean       std  min  25%  50%  75%  max
X10   4209.0  0.019007  0.136565  0.0  0.0  0.0  0.0  1.0
X11   4209.0  0.000238  0.015414  0.0  0.0  0.0  0.0  1.0
X12   4209.0  0.074364  0.262394  0.0  0.0  0.0  0.0  1.0
X13   4209.0  0.061060  0.239468  0.0  0.0  0.0  0.0  1.0
X14   4209.0  0.427893  0.494832  0.0  0.0  0.0  1.0  1.0
...      ...       ...       ...  ...  ...  ...  ...  ...
X380  4209.0  0.008078  0.089524  0.0  0.0  0.0  0.0  1.0
X382  4209.0  0.008791  0.093357  0.0  0.0  0.0  0.0  1.0
X383  4209.0  0.000475  0.021796  0.0  0.0  0.0  0.0  1.0
X384  4209.0  0.000713  0.026691  0.0  0.0  0.0  0.0  1.0
X385  4209.0  0.001663  0.040752  0.0  0.0  0.0  0.0  1.0

[368 rows x 8 columns]

In [188]:
df51.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10', 'X11',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=376)

In [189]:
df51.size

1582584

In [190]:
df51.corr()

,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
X10,1.000000,-0.002146,-0.039453,-0.035496,-0.120379,-0.003717,-0.007125,-0.013108,-0.014142,-0.049351,...,0.189023,-0.031817,-0.086214,-0.019498,-0.015262,-0.012561,-0.013108,-0.003035,-0.003717,-0.005681
X11,-0.002146,1.000000,-0.004369,-0.003931,0.017825,-0.000412,-0.000789,-0.001452,-0.001566,-0.005466,...,-0.010720,-0.003524,-0.010380,-0.002159,-0.001690,-0.001391,-0.001452,-0.000336,-0.000412,-0.000629
X12,-0.039453,-0.004369,1.000000,0.283228,-0.245127,-0.007570,-0.014509,-0.016991,-0.028796,-0.100493,...,-0.148812,-0.064790,0.080843,-0.006747,-0.022720,-0.025578,-0.016991,-0.006180,-0.007570,-0.011569
X13,-0.035496,-0.003931,0.283228,1.000000,-0.076145,-0.006811,-0.013054,-0.024015,-0.025908,-0.090413,...,-0.177340,-0.058291,0.359450,-0.035722,-0.027961,0.054582,-0.024015,-0.005560,-0.006811,-0.010408
X14,-0.120379,0.017825,-0.245127,-0.076145,1.000000,-0.023097,-0.044269,0.000864,-0.087862,-0.306620,...,0.107496,0.043260,-0.139742,-0.051238,0.113487,0.007787,0.000864,0.025212,0.030881,0.047195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X380,-0.012561,-0.001391,-0.025578,0.054582,0.007787,-0.002410,-0.004619,-0.008498,0.043621,-0.023568,...,-0.062756,-0.020628,-0.060764,-0.012641,-0.009895,1.000000,-0.008498,-0.001968,-0.002410,-0.003683
X382,-0.013108,-0.001452,-0.016991,-0.024015,0.000864,-0.002515,-0.004821,1.000000,0.066366,-0.033389,...,-0.065490,-0.021526,-0.063411,-0.013192,-0.010326,-0.008498,1.000000,-0.002053,-0.002515,-0.003844
X383,-0.003035,-0.000336,-0.006180,-0.005560,0.025212,-0.000582,-0.001116,-0.002053,-0.002215,-0.007730,...,-0.015163,-0.004984,0.008850,-0.003054,-0.002391,-0.001968,-0.002053,1.000000,-0.000582,-0.000890
X384,-0.003717,-0.000412,-0.007570,-0.006811,0.030881,-0.000713,-0.001367,-0.002515,-0.002713,-0.009469,...,0.000420,-0.006105,0.020448,-0.003741,-0.002928,-0.002410,-0.002515,-0.000582,1.000000,-0.001090
X385,-0.005681,-0.000629,-0.011569,-0.010408,0.047195,-0.001090,-0.002089,-0.003844,-0.004147,-0.014471,...,0.058691,-0.009330,-0.027482,-0.005717,-0.004475,-0.003683,-0.003844,-0.000890,-0.001090,1.000000

In [191]:
# removing zero variance columns of given test data
df52=df51.var()[df51.var()[0:376]==0]
print(df52.shape)
df52

(5,)

X257    0.0
X258    0.0
X295    0.0
X296    0.0
X369    0.0
dtype: float64

In [193]:
# removing columns of zero variance of test data and zero variance columns of traindata (given test data)
df53=df51.drop(['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347','X257','X258','X295','X296','X369'],axis='columns')
print(df53.shape)
df53

(4209, 359)

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
1,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
2,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0
3,az,l,n,f,d,z,l,n,0,0,...,0,0,0,1,0,0,0,0,0,0
4,w,s,as,c,d,y,i,m,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,aj,h,as,f,d,aa,j,e,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,t,aa,ai,d,d,aa,j,y,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,y,v,as,f,d,aa,d,w,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,ak,v,as,a,d,aa,c,q,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,t,aa,ai,c,d,aa,g,r,0,0,...,1,0,0,0,0,0,0,0,0,0

In [194]:
# check for null values(given test data)
print(df53.shape)
print(np.sum(df53.isna().sum()))
df53.shape

(4209, 359)
0

(4209, 359)

In [195]:
# unique values for given test data
df53.nunique()

X0      49
X1      27
X2      45
X3       7
X4       4
        ..
X380     2
X382     2
X383     2
X384     2
X385     2
Length: 359, dtype: int64

In [196]:
for i in df53:
    print(df53[i].unique())

['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']
['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']
['f' 'a' 'c' 'e' 'd' 'g' 'b']
['d' 'b' 'a' 'c']
['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b']
['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[1 0]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]

In [197]:
# label encoding for given test data
df53.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 359 entries, X0 to X385
dtypes: int64(351), object(8)
memory usage: 11.5+ MB

In [198]:
df54=df53.select_dtypes(include=['object'])
df54.isna().sum()

X0    0
X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X8    0
dtype: int64

In [199]:
df55=df53.drop(['X0','X1','X2','X3','X4','X5','X6','X8'],axis='columns')
df55.shape

(4209, 351)

In [200]:
# label encoder(test data)
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df56 = df54.apply(lb.fit_transform)
df56

      X0  X1  X2  X3  X4  X5  X6  X8
0     21  23  34   5   3  26   0  22
1     42   3   8   0   3   9   6  24
2     21  23  17   5   3   0   9   9
3     21  13  34   5   3  31  11  13
4     45  20  17   2   3  30   8  12
...   ..  ..  ..  ..  ..  ..  ..  ..
4204   6   9  17   5   3   1   9   4
4205  42   1   8   3   3   1   9  24
4206  47  23  17   5   3   1   3  22
4207   7  23  17   0   3   1   2  16
4208  42   1   8   2   3   1   6  17

[4209 rows x 8 columns]

In [201]:
# concatenation(given test data)
df57=pd.concat([df55,df56],axis=1)
print(df57.info())
print(df57)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 359 entries, X10 to X8
dtypes: int32(8), int64(351)
memory usage: 11.4 MB
None
      X10  X12  X13  X14  X15  X16  X17  X18  X19  X20  ...  X384  X385  X0  \
0       0    0    0    0    0    0    0    0    0    0  ...     0     0  21
1       0    0    0    0    0    0    0    0    1    0  ...     0     0  42
2       0    0    0    1    0    0    0    0    0    0  ...     0     0  21
3       0    0    0    0    0    0    0    0    0    0  ...     0     0  21
4       0    0    0    1    0    0    0    0    0    0  ...     0     0  45
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...  ..
4204    0    0    0    1    0    0    0    0    0    0  ...     0     0   6
4205    0    0    0    0    0    0    0    0    1    0  ...     0     0  42
4206    0    0    0    1    0    0    0    0    0    0  ...     0     0  47
4207    0    0    1    1    0    0    0    0    0    0  ...     0     0   7
4208    0    0    0    0    0    0    0    0    1    0  ...     0     0  42

      X1  X2  X3  X4  X5  X6  X8
0     23  34   5   3  26   0  22
1      3   8   0   3   9   6  24
2     23  17   5   3   0   9   9
3     13  34   5   3  31  11  13
4     20  17   2   3  30   8  12
...   ..  ..  ..  ..  ..  ..  ..
4204   9  17   5   3   1   9   4
4205   1   8   3   3   1   9  24
4206  23  17   5   3   1   3  22
4207  23  17   0   3   1   2  16
4208   1   8   2   3   1   6  17

[4209 rows x 359 columns]

In [202]:
# PCA for given test data
from sklearn.decomposition import PCA
pca1=PCA(n_components=14)
df60=pca1.fit_transform(df57)
df61=pd.DataFrame(df60)
print(df61)
print(df61.shape)

             0          1          2          3          4         5   \
0     14.583362  14.166726  13.538576   2.408357  11.319422  6.942207
1    -15.251613  -7.736756  -7.454951  -2.662035  11.593793  1.159403
2     11.856465  -1.680173  -9.989615  14.918866  -1.088860 -2.691306
3     12.606882  13.871583  14.143968  -8.224170   1.683162 -3.704102
4    -11.897597   2.735944  18.424166   5.053374   0.359333 -1.415911
...         ...        ...        ...        ...        ...       ...
4204  23.227120  -5.854897 -15.649251  -0.404282  -6.784333 -2.213341
4205 -15.606100  -7.792350 -15.501424  -1.129665  11.772784 -1.717926
4206 -13.446440   3.288582  -6.852364  18.910256  11.323656  3.224100
4207  24.926123  -4.898887 -10.169410  11.443377   5.901787  4.553232
4208 -15.384310  -7.734255 -15.493010  -0.559513   4.779364  1.082911

            6         7         8         9         10        11        12  \
0    -2.026132  2.533692 -1.082240  0.549660  1.329728  3.715970 -0.566558
1     4.006845  1.839730  0.600351  0.352257 -0.734249 -0.501883 -1.982118
2    -0.904760  0.736433 -0.079942  0.635882  0.356857  3.407674 -1.178585
3    -2.549438  2.039046  0.292179  0.400600  1.957542  3.987208 -0.216053
4     0.831165 -3.044068  1.359958 -0.424768 -0.417843 -0.038760 -0.320468
...        ...       ...       ...       ...       ...       ...       ...
4204 -2.701129 -1.585232  0.498649  0.162827  0.179534  0.008650 -1.268297
4205  0.593836  1.331873  1.909271 -0.116269 -0.351582  0.798487  0.202113
4206 -2.542532 -0.885548 -2.629053  0.603274 -0.611204 -0.049065 -1.123677
4207  3.812111 -1.876175 -0.250644 -1.165487 -0.502547 -0.077127 -0.278494
4208  0.421705  1.225778  1.756524 -1.412742 -1.804827  0.093767 -0.044542

            13
0    -0.508513
1     0.387843
2    -1.300242
3    -0.358919
4     0.160184
...        ...
4204  0.633656
4205 -1.408232
4206  0.507393
4207  0.310995
4208 -0.279953

[4209 rows x 14 columns]
(4209, 14)

In [203]:
np.sum(pca1.explained_variance_ratio_)

0.9819984718423151

In [204]:
pca1.n_components

14

In [206]:
# predicted for given test data
predicted_test=xg.predict(df61)
print(predicted_test)

[ 77.451096  95.660484  84.04275  ...  93.26157  111.25085   95.09002 ]